.text-bg-custom {
    background-color: #7111ad;
    color: #ffffff;
    border-color: #ffffff;
}

.text-bg-custom2 {
    color: #7111ad;
    border-color: #ffffff;
}

.text-bg-footer {
    color: #7111ad !important;
}

.nav-link.active.custom-active {
    color: #ffffff !important;
    background-color: #7111ad !important;
}